
body { margin: 5%; text-align: justify; font-size: 1em; }
code {
	display: block;
	font-family: monospace;
	background-color: #F1F1F1;
	margin: 1em;
	padding: 1em;
	border-radius: 0.4em;
	font-size: 0.9em;
}
h1 { text-align: left; font-size: 2.5em;}
h2 { text-align: left; font-size: 2em;}
h3 { text-align: left; font-size: 1.6em;}
h4 { text-align: left; font-size: 1.3em;}
h5 { text-align: left; font-size: 1em;}
h6 { text-align: left; font-size: 1em;}
h1.title { text-align: center; font-size: 4em;}
h2.author { text-align: center; font-size: 2em;}
h3.date { }
ol.toc { padding: 0; margin-left: 1em; }
ol.toc li { list-style-type: none; margin: 0; padding: 0; }
figcaption {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-style: italic;
	font-size: 0.7em;
}
